$lightBrown: rgb(163, 122, 75);
$darkBrown: rgba(67,51,35);
$endBrown: #b59774;

$darkBlue: #1d3557;
$lightBlue: #2d5286;

$darkTeal: #1b7752;
$lightTeal: #3ead81;

$lightRed: #ad3e3e;

$white: #fff;
$gray: #666;
$lightGray: #AAA;
$black: #000;

